@font-face {
  font-family: daybold;
  src: url(../fonts/Daybold.otf);
}

.input-container {
  background-image: url(http://bestanimations.com/Nature/winter/winter-snow-nature-animated-gif-11.gif);
  background-repeat: no-repeat;
  background-size: 120rem;
  width: 100%;
  height: 100vh;
  filter: grayscale(10%);
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: rgb(244, 85, 0);
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

.styles_closeIcon__1QwbI {
  display: none;
}

.styles_modal__gNwvD {
  background-color: #585e67;
}

@media screen and (max-width: 1710px) {
  .input-rendered-welcome {
    font-size: 6rem;
    margin: 4rem 0 0 7rem;
  }

  .rendered-search {
    grid-column: 1 / 5;
    justify-self: start;
  }
}

@media screen and (max-width: 1470px) {
  .rendered-search-button {
    margin: 2rem 0 0 0;
  }

  .rendered-search {
    margin-top: 2rem;
  }

  .input-rendered-welcome {
    display: none;
  }
}

@media screen and (max-width: 1370px) {
  .rendered-search {
    grid-column: 1 / 6;
  }
}

@media screen and (max-width: 1000px) {
  .input-title {
    font-size: 10rem;
  }
}
