@font-face {
  font-family: daybold;
  src: url(../fonts/Daybold.otf);
}

@font-face {
  font-family: julius;
  src: url(../fonts/Julius.ttf);
}

@font-face {
  font-family: rale;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: poire;
  src: url(../fonts/Poiret.ttf);
}

.input-container {
  /* background-size: 120rem; */
  width: 100vw;
  /* height: 100vh; */

  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: rgb(244, 85, 0);
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* opacity: 0.5; */
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
  filter: grayscale(100%);
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

.styles_closeIcon__1QwbI {
  display: none;
}

.styles_modal__gNwvD {
  background-color: #585e67;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1710px) {
  .input-rendered-welcome {
    font-size: 6rem;
    margin: 4rem 0 0 7rem;
  }
}

@media screen and (max-width: 1470px) {
  .input-rendered-welcome {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .input-title {
    font-size: 10rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0.367);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(157, 158, 158, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}
