.current {
  font-family: neat;
}

.current-weather {
  font-size: 2rem;
  font-family: neat;
  grid-column: 7 / 10;
  grid-row: 1 / 4;
  transition: 1s;
}

.current-location {
  font-size: 4rem;
  color: yellow;
  grid-column: 4 / 9;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: end;
  margin: 3rem 3rem 0 0;
}

.current-time {
  font-size: 1.5rem;
  grid-row: 1 / 4;
  grid-column: 1 / 9;
  color: #ef6a04;
  align-self: center;
  justify-self: center;
}

.current-temp {
  animation: hueChange 4s linear infinite;
  grid-row: 1 / 4;
  grid-column: 1 / 9;
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 10rem;
  color: greenyellow;
  margin: 0;
}

.current-high {
  grid-row: 2 / 3;
  grid-column: 5 / 9;
  font-size: 4rem;
  display: inline-block;
  color: red;
  justify-self: center;
  margin: 0 2rem 8.5rem 0;
}

.current-low {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  margin-bottom: 8.5rem;
  font-size: 4rem;
  display: inline-block;
  color: aqua;
  justify-self: center;
}

.current-conditions {
  color: rgb(198, 189, 189);
  grid-row: 1 / 2;
  grid-column: 6 / 9;
  font-size: 2rem;
  margin: 4rem 0 0 0;
  justify-self: center;
}
