.weekly-cards {
  height: 18rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  animation: fadeIn 1s linear;
}

.weather-card {
  height: 10rem;
}

.coverflow__cover__25-7e {
  position: absolute;
  top: 3.2rem;
  box-shadow: none;
}

.coverflow__cover__25-7e:hover {
  background-color: #bababa1b;
}

.coverflow__stage__14oqC {
  height: 5rem;
}

.coverflow__text__39hqd {
  background: none;
}

.coverflow__figure__3bk_C {
  height: 10rem;
}

.coverflow__container__1P-xE {
  width: 44rem;
  height: 12.7rem;
}

.coverflow__text__39hqd {
  display: none;
}

div:focus {
  outline: 0;
}

.hour-time,
.day-time {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 5rem;
  margin: 1rem 1rem 0.5rem;
  border-radius: 0.5rem;
  color: #3e3e3e;
  text-shadow: 1px 1px rgb(140, 140, 140);
  background-color: #bababa;
}

.day-time {
  width: 3.5rem;
}

.hour-temp,
.day-high,
.day-low {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  width: 5.2rem;
  padding-left: 0.3rem;
  border-radius: 0.5rem;
  color: #545454;
  margin: 0 auto 0 auto;
  text-shadow: 1px 1px rgb(140, 140, 140);
  background-color: #d5d5d5;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.link:hover {
  border-radius: 0.5rem;
  animation: pulse 1s linear infinite;
}

.weekly {
  font-family: Daybold;
  font-weight: 800;
  margin: 1.5rem 1rem;
  font-size: 2rem;
  color: #e4e4e4;
}

.seven-day-title {
  font-family: Daybold;
  text-align: center;
  color: #c7c7c7;
  font-size: 3rem;
  margin: 0 0 1.4rem 0;
}

.weekly-sunset {
  justify-self: end;
  grid-column: 4/5;
  grid-row: 1 / 2;

  color: rgb(59, 116, 177);
}

.sunrise {
  font-size: 2rem;
  color: rgb(255, 247, 1);
}

.rain {
  color: rgb(52, 211, 211);
}

.weekly-low {
  color: rgb(191, 237, 221);
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  -ms-flex-item-align: end;
  align-self: center;
  font-size: 3rem;
  justify-self: end;
  margin: 0.5rem 0 0 0;
}

.sunset {
  color: rgb(69, 150, 123);
  font-size: 2rem;
}

.weekly-high {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  font-size: 3rem;
  -ms-flex-item-align: center;
  align-self: center;
  color: rgb(191, 126, 126);
  justify-self: start;
  margin: 0.5rem 0 0 0;
}

.weekly-sunrise {
  grid-row: 1 / 2;
  font-size: 1.7rem;
}

.weekly-sunset {
  justify-self: end;
  color: #e4e4e4;
  font-size: 1.7rem;
}

.weekly-condition {
  grid-row: 4/5;
  grid-column: 1/ 5;
  justify-self: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.weekly-rain {
  font-size: 1.5rem;
  grid-row: 1/2;
  grid-column: 2/4;
  justify-self: center;
}

td {
  padding: 1rem;
}

.day-of-week {
  cursor: pointer;
  padding: 0 2rem;
  font-family: rale;
  font-size: 2rem;
}

.day-of-week:hover {
  border-radius: 50%;
  color: rgb(176, 179, 179);
}

.day-active {
  font-family: rale;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 2rem;
  color: white;
  background-color: rgb(157, 174, 187);
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(171, 255, 255, 0.367);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(163, 255, 255, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}
