.input-container {
  background-image: url(https://hdqwalls.com/wallpapers/firewatch-sd.jpg);
  background-repeat: no-repeat;
  background-size: 120rem;
  width: 100%;
  height: 100vh;
  filter: grayscale(10%);
  /* filter: brightness(150%); */
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: rgb(125, 50, 10);
}

@font-face {
  font-family: xtreeme;
  src: url(fonts/XtreemFat_Demo.ttf);
}

@font-face {
  font-family: daybold;
  src: url(fonts/Daybold.otf);
}

@font-face {
  font-family: daybreak;
  src: url(fonts/Daybreak.otf);
}

@font-face {
  font-family: somesss;
  src: url(fonts/SOMESSS_.TTF);
}

@font-face {
  font-family: hughes;
  src: url(fonts/Hughs.otf);
}

@font-face {
  font-family: breakable;
  src: url(fonts/Breakable.otf)
}

@font-face {
  font-family: childish;
  src: url(fonts/ChildishKid.ttf)
}

@font-face {
  font-family: beat;
  src: url(fonts/beat.ttf)
}

.input-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.welcome-title {
  grid-column: 6 / 11;
  grid-row: 1 / 2;
}

.input-welcome {

  color: rgb(136, 90, 123);
  font-family: daybreak;
  font-size: 5rem;
  display: inline-block;
}

.welcome-rendered-title {
  font-weight: 1000;
  grid-column: 6 / 11; 
  margin-top: 5rem;
  color: rgb(186, 155, 177);
  font-family: daybreak;
  font-size: 3.5rem;
  display: inline-block;
}

.seven-hour-title {
  margin-left: 12rem;
  margin-top: 7rem;
  font-family: hughes;
  font-size: 2.5rem;
  float: left;
  display: inline-block;
}

.ten-day-title {
  float: right;
  display: inline-block;
  font-family: hughes;
  font-size: 2.5rem;
  margin-right: 13rem;
  margin-top: 7rem;
}

.input-search {
  grid-column: 6 / 11;
  grid-row: 2 / 3;
  align-self: start;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
} 

.current-weather {
  font-size: 2rem;
  font-family: daybold;
  grid-column: 7 / 10;
  grid-row: 2 / 4;
  transition: 1s;
}

.search-button:hover {
  animation: morphingLogo 4s linear infinite;
  color: rgb(74, 96, 125);
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

.seven-hour {
 font-family: daybold;
   height: 11rem;
   overflow: auto;
   grid-column: 2 / 15;
   grid-row: 3 / 4;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   align-self: start;
}

.seven-hour-cards {
    height: 11rem;
   width: 14rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 5rem 5rem;
   -webkit-transition: 1s ease;
   -o-transition: 1s ease;
   transition: 1s ease;
   border-radius: 1rem;
   background: rgba(179, 186, 238, 0.53);
   margin: 0 0.5rem;
}

.seven-hour-cards:hover {
  background: rgba(179, 186, 238, 0.80);

  filter: brightness(140%);
}

.seven-hour-time, .seven-hour-temperature, .seven-hour-conditions, .seven-hour-icon{
  margin: 0;
}

.seven-hour-time{
 font-size: 1.5rem;
   grid-column: 2 / 4;
   grid-row: 1 / 2;
   padding: .5rem;
   margin-top: 1rem;
}

.seven-hour-temperature {
   font-size: 2.9rem;
   grid-column: 2 / 4;
   grid-row: 1 / 3;
   margin-top: 1rem;
   color: #EF6A04;
   align-self: center;
   justify-self: center;
   justify-items: center;

}

.seven-hour-conditions {
font-size: 2rem;
   grid-column: 2 / 4;
   grid-row: 2 / 4;
   /* padding-top: 1rem; */
   /* justify-self: unset; */
   align-self: end;
}

.seven-hour-icon {
   height: 3rem;
   grid-column: 4 / 5;
   grid-row: 1/ 3;
   justify-self: center;
   -ms-flex-item-align: right;
   align-self: right;
}

.ten-day {
  font-family: daybold;     
  height: 12rem;     
  overflow: auto;     
  grid-column: 2 / 15;     
  grid-row: 3 / 4;     
  display: grid;     
  grid-template-columns: repeat(10, 1fr);    
  align-self: start;
}

.ten-day-cards {
    width: 18rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    border-radius: 1rem;
    background: rgba(179, 186, 238, 0.53);
    margin: 0 0.5rem;
}

.ten-day-cards:hover {
  background: antiquewhite;
}

.ten-day-day {
  font-size: 2.5rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.ten-day-date {
  font-size: 1.5rem;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.ten-day-high {
  color: red;
  font-size: 2rem;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.ten-day-low {
  color: aqua;
  font-size: 2rem;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.ten-day-icon {
  height: 3.5rem;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  align-self: center;
}

.search-button, .search-button-two {
  font-family: beat;
  font-size: 1.7rem;
  height: 3rem;
  width: 9rem;
  border-radius: 1rem;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background-color: #81AFD0;
  margin-left: .5rem;
}

.current-weather-button, .seven-hour-button, .ten-day-button {
  font-family: daybold; 
  grid-row: 2 / 3;
   height: 2rem;
   border-radius: 0.5rem;
   font-size: 1.5rem;
   width: 8rem;
   background-color: #6a8dc6;
    align-self: end;
    margin-bottom: 1rem;
    padding-top: .2rem
}

.current-weather-button:hover {
animation: hueChange 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #6a8dc6;
}

.seven-hour-button:hover {
animation: hueChange 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #6a8dc6;

}
.ten-day-button:hover {
animation: hueChange 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #6a8dc6;
}

@keyframes hueChange {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }

}

.current-weather-button {
  grid-column: 6 / 8;
}

.seven-hour-button {
  grid-column: 2 / 4;
}

.ten-day-button {
  grid-column: 4 / 6;
}

.current-location {
  position: relative;
  bottom: 11.5rem;
  font-size: 3rem;
  color: yellow;
  right: 33rem
}

.current-time {
  position: relative;
  bottom: 19.5rem;
  font-size: 1.3rem;
  right: 4rem;
}

.current-temp {
  position: relative;
  bottom: 12rem;
  font-size: 6rem;
}

.current-high {
  font-size: 2.5rem;
  display: inline-block;
  color: red; 
  position: relative;
  bottom: 28rem;
  right: 33rem;
}

.current-low {
  font-size: 2.5rem;
  display: inline-block;
  color: aqua;
  position: relative;
  bottom: 28rem;
  left: 33rem;
}

.current-conditions {
  position: relative;
  bottom: 27rem;
  right: 4rem;
}

.current-icon {
  position: relative;
  left: 3rem;
  bottom: 32.3rem;
  height: 4rem;
}

/* .search-button:hover {
  color: black;
  background-color: #DDCECD;
} */

input::placeholder {
  padding: 0;
  line-height: 3rem;
  color: white;
  opacity: 0.3;
}

input[type="text"] {
  font-family: beat;
  font-size: 2rem;
  color: gray;
  padding-left: 1rem;
  line-height: 3rem;
}

.search-box, .search-box-two {
  background: #88ACC1;
  margin-right: .5rem;
  border-radius: 10px;
  height: 2.7rem;
}

.rendered-search {
  grid-column: 12 / 14;
  grid-row: 1 / 1; 
  margin-top: 2rem;
}

