.input-search {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-column: 6 / 12;
  grid-row: 2 / 4;
  align-self: start;
  justify-content: space-around;
}

.input-rendered-welcome {
  margin: 4rem 0 0 0;
}

.rendered-search {
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
  margin: 0 0 3rem 2.5rem;
}

.search-box,
.rendered-search-box {
  background: #88acc1;
  border-radius: 10px;
  width: 18rem;
  height: 2.6rem;
  margin-right: 1rem;
}

.rendered-search-box:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9 !important;
  box-shadow: 3px 3px 1rem #668aad;
}

input::placeholder {
  font-family: daybold;
  padding: 0;
  line-height: 3rem;
  color: white;
  opacity: 0.3;
}

input[type="text"] {
  font-family: daybold;
  font-size: 2rem;
  color: #f9f9f9;
  line-height: 3rem;
}

.input-search {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-column: 6 / 12;
  grid-row: 2 / 4;
  align-self: start;
  justify-content: space-around;
}

.search-button,
.rendered-search-button {
  font-family: dayBold;
  font-size: 2.5rem;
  height: 3rem;
  width: 9rem;
  border-radius: 1rem;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background-color: #81afd0;
  margin-left: 1rem;
  padding: 0.5rem;
}

.search-button:hover {
  animation: morphingLogo 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
}

.rendered-search-button:hover {
  animation: morphingLogo 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
  box-shadow: 0.1rem 0.1rem 2rem #6a8dc6;
}

.input-suggest-list {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3 1fr);
  width: 10rem;
}

.input-suggestions {
  letter-spacing: 3px;
  width: 18.3rem;
  font-size: 1.5rem;
  margin: 0;
  font-family: daybold;
  background-color: #6a8dc6;
  cursor: pointer;
  border: 1px solid rgb(175, 175, 238);
  opacity: 1;
  border-radius: 5px;
}

.input-suggestions:hover {
  background-color: #99b4c2;
  opacity: 0.7;
}

.rendered-suggest-list-two {
  height: 2rem;
  display: grid;
  grid-template-rows: repeat(3 1fr);
  width: 10rem;
}

.rendered-suggest-list {
  position: absolute;
  bottom: 26.5rem;
  display: grid;
  grid-template-rows: repeat(3 1fr);
  width: 10rem;
}

.rendered-suggestions {
  letter-spacing: 3px;
  width: 18.3rem;
  font-size: 1.5rem;
  margin: 0;
  font-family: daybold;
  background-color: #08565e;
  cursor: pointer;
  border: 1px solid rgb(175, 175, 238);
  opacity: 1;
  border-radius: 5px;
}

.rendered-suggestions:hover {
  background-color: #99b4c2;
  opacity: 0.7;
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}

@media screen and (max-width: 1700px) {
  .rendered-search {
    justify-self: end;
  }
}
