.ten-day-button {
  grid-column: 9 / 11;
  justify-self: center;
  font-family: daybold; 
  grid-row: 2 / 4;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 8rem;
  background-color: #6a8dc6;
  align-self: center;
  margin-bottom: 1rem;
  padding-top: .2rem;
}

.ten-day-button:hover {
  animation: hueChange 4s linear infinite;
  background-color: rgb(74, 96, 125);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 2rem #6a8dc6;
}