.welcome-title {
  grid-column: 6 / 11;
  grid-row: 1 / 2;
}

.input-welcome {
  color: rgb(136, 90, 123);
  font-family: daybreak;
  font-size: 8rem;
  display: inline-block;
}

.welcome-rendered-title {
  font-weight: 1000;
  grid-column: 6 / 11; 
  grid-row : 1 / 3;
  color: rgb(186, 155, 177);
  font-family: daybreak;
  font-size: 5rem;
  display: inline-block;
  align-self: start;
  justify-self: center;
  opacity: .7;
  margin-bottom: 6rem;
}